@if (!string.IsNullOrEmpty(Message ?? messageFromCookie))
{
    var statusMessageClass = (Message ?? messageFromCookie)?.StartsWith("Error") == true ? "danger" : "success";
    <div class="alert alert-@statusMessageClass" role="alert">
        @(Message ?? messageFromCookie)
    </div>
}

@code {
    private string? messageFromCookie;

    [Parameter]
    public string? Message { get; set; }

    // [CascadingParameter]
    // private HttpContext HttpContext { get; set; } = default!;

    // private string? DisplayMessage => Message ?? messageFromCookie;

    protected override void OnInitialized()
    {
    }
}
